<h1>Home Page</h1>
  <button id="button_load">Load Contacts</button>
  <button id="addUser">New Contact</button>
<div id="results">
  <table id="stuff">
    <thead>
      <tr>
        <th id="name"></th>
        <th id="email"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="userForm">
  <fieldset>
    <legend>Add new Player</legend>
    <form id="newPlayer">
     <input type="text" id="input_name"><br>
     <input type="text" id="input_email"><br>
    <input type="submit" value="Create User"><br>
   </form>
  </fieldset>
</div>